:root {
  --fuente-odibee: "Odibee Sans", sans-serif;
  --fuente-special: "Special Elite", system-ui;
  --color-h1: #009048;
  --color-button: #006cfc;
  --color-borderbutton: #001997;
  --estrella-win: #6cb46c;
  --estrella-loser: #dc5b49;
  --background-loser: #894949;
  --background-win: #888949;
  --button-font: #d8fcfc;
}
* {
  box-sizing: border-box;
}
body {
  /* background-color: rgb(24, 22, 22); */
  background-image: url(../public/fondo.svg);
  margin: 0;
  max-height: 100vh;
  color: rgb(20, 18, 18);
}
